body {
    background-color:#F00;
}
h1 {
    font-size:20px;
    font-weight:bold;
}

/* 
Comando para processar CSS
sass assets/sass/base.scss assets/css/style.css

Comando para processar CSS sem o arq map
sass assets/sass/base.scss assets/css/style.css --no-source-map

Comando para processar CSS sem o arq map e com o CSS comprimido
sass assets/sass/base.scss assets/css/style.css --no-source-map --style compressed

Auto compile CSS via cmd = processa o SASS automaticamente
sass assets/sass/base.scss assets/css/style.css --no-source-map --style compressed --watch
*/