@import 'reset';

@mixin girar($graus) {
    transform:rotate($graus);
    -webkit-transform:rotate($graus);
    -moz-transform:rotate($graus/2);
    -ms-transform:rotate($graus+30deg);
}

nav { 
    background-color:#EEE;
    height:100px;

    ul {
        margin:0px;
        padding:0px;
        list-style:none;
    }

    li {
        display:inline-block;

        a {
            display:block;
            background-color:#CCC;
            padding:10px;
            text-decoration:none;
            color:#000;
        }
    }
}

//Cria grupo de propriedades
%fundamento-msg {
    padding:10px;
    font-size:24px;
    border:2px solid #CCC;
    margin:auto;
    max-width:500px;
    margin-top:10px;
}

// Usando grupo de propriedades
.msg-info {
    @extend %fundamento-msg;
    border-color:#00F;
    color:#00F
}
.msg-aviso {
    @extend %fundamento-msg;
    border-color:#F00;
    color:#F00;
}
.msg-sucesso {
    @extend %fundamento-msg;
    border-color:#0F0;
    color:#0F0;
}

%item {
    background-color:#000;
    height:40px;
    margin-bottom:5px;
}

$item-width: 250px;

.item {
    @extend %item;
    width:$item-width;
}
.item-duplo {
    @extend %item;
    width:$item-width*2;
}
.item-metade {
    @extend %item;
    width:$item-width/2;
}
.item-triplo {
    @extend %item;
    width:$item-width*3; 
}