body {
  font-family: Arial;
  font-size: 14px;
  background-color: #999;
}

nav {
  background-color: #EEE;
  height: 100px;
}
nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav li a {
  display: block;
  background-color: #CCC;
  padding: 10px;
  text-decoration: none;
  color: #000;
}
nav li a:hover {
  background-color: #999;
}

.msg-info, .msg-aviso, .msg-sucesso {
  padding: 10px;
  font-size: 24px;
  border: 2px solid #CCC;
  margin: auto;
  max-width: 500px;
  margin-top: 10px;
}

.msg-info {
  border-color: #00F;
  color: #00F;
}

.msg-aviso {
  border-color: #F00;
  color: #F00;
}

.msg-sucesso {
  border-color: #0F0;
  color: #0F0;
}

.item, .item-duplo, .item-metade, .item-triplo {
  background-color: #000;
  height: 40px;
  margin-bottom: 5px;
}

.item {
  width: 250px;
}

.item-duplo {
  width: 500px;
}

.item-metade {
  width: 125px;
}

.item-triplo {
  width: 750px;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10 {
  font-size: 14px;
  border: 1px solid #333;
  padding: 5px;
}

.item-1 {
  font-weight: bold;
}

.item-2 {
  font-weight: bold;
}

.item-3 {
  font-weight: bold;
}

.item-4 {
  font-weight: normal;
}

.item-5 {
  font-weight: normal;
}

.item-6 {
  font-weight: normal;
}

.item-7 {
  font-weight: normal;
}

.item-8 {
  font-weight: normal;
}

.item-9 {
  font-weight: normal;
}

.item-10 {
  font-weight: normal;
}
